<%- include partials/header.ejs %>  

<%- include partials/main_nav.ejs %>  



    <div class="uk-container my-5">
        <div class="uk-child-width-expand@s" uk-grid>
            <div>
                <h1 class="main-text"><%= message %> <%= error.status %></h1>
                <pre><%= error.stack %></pre>
            </div>
            <div>
                <img src="/Assets/images/error.jpg" alt="">
            </div>
        </div>
        
    </div>



<%- include partials/bottom_nav.ejs %>      

<%- include partials/footer.ejs %>   